<%= form_for @recipe do |f| %>
  <p>Title: <%= f.text_field :title %></p>

  <%=f.fields_for :ingredients do |i|%>
      <p><%= i.label :name%></p>
      <p><%= i.text_field :name%></p>
      <p><%= i.label :quantity%></p>
      <p><%= i.text_field :quantity%></p>
  <%end%>
  <%=f.submit%>
<% end %>
